In [1]:
import requests
import json
from pprint import pp
import pandas as pd
import pyspark

In [2]:
import findspark
findspark.init()
findspark.find()

from pyspark.sql import SparkSession
from pyspark.sql.functions import*

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, BooleanType, DoubleType

import pandas as pd

In [3]:
url='https://raw.githubusercontent.com/platformps/LoanDataset/main/loan_data.json'
resposne=requests.get(url)
print(resposne)
r=resposne.json()

<Response [200]>

In [14]:
#df_loaneligible=pd.DataFrame(r)
df = pd.json_normalize(r)
pp(df)

    Application_ID  Gender Married Dependents     Education Self_Employed  \
0         LP001002    Male      No          0      Graduate            No
1         LP001003    Male     Yes          1      Graduate            No
2         LP001005    Male     Yes          0      Graduate           Yes
3         LP001006    Male     Yes          0  Not Graduate            No
4         LP001008    Male      No          0      Graduate            No
..             ...     ...     ...        ...           ...           ...
506       LP002978  Female      No          0      Graduate            No
507       LP002979    Male     Yes         3+      Graduate            No
508       LP002983    Male     Yes          1      Graduate            No
509       LP002984    Male     Yes          2      Graduate            No
510       LP002990  Female      No          0      Graduate           Yes

     Credit_History Property_Area  Income Application_Status
0                 1         Urban  medium                  Y
1                 1         Rural  medium                  N
2                 1         Urban     low                  Y
3                 1         Urban     low                  Y
4                 1         Urban  medium                  Y
..              ...           ...     ...                ...
506               1         Rural     low                  Y
507               1         Rural  medium                  Y
508               1         Urban  medium                  Y
509               1         Urban  medium                  Y
510               0     Semiurban  medium                  N

[511 rows x 10 columns]

In [10]:
spark = SparkSession.builder.appName("loan").getOrCreate()

In [11]:
sploanDF=spark.createDataFrame(df) 
sploanDF.printSchema()
sploanDF.show()

c:\Python310\lib\site-packages\pyspark\sql\pandas\conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
c:\Python310\lib\site-packages\pyspark\sql\pandas\conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

root
 |-- Application_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- Credit_History: long (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Application_Status: string (nullable = true)

+--------------+------+-------+----------+------------+-------------+--------------+-------------+------+------------------+
|Application_ID|Gender|Married|Dependents|   Education|Self_Employed|Credit_History|Property_Area|Income|Application_Status|
+--------------+------+-------+----------+------------+-------------+--------------+-------------+------+------------------+
|      LP001002|  Male|     No|         0|    Graduate|           No|             1|        Urban|medium|                 Y|
|      LP001003|  Male|    Yes|         1|    Graduate|           No|             1|        Rural|medium|                 N|
|      LP001005|  Male|    Yes|         0|    Graduate|          Yes|             1|        Urban|   low|                 Y|
|      LP001006|  Male|    Yes|         0|Not Graduate|           No|             1|        Urban|   low|                 Y|
|      LP001008|  Male|     No|         0|    Graduate|           No|             1|        Urban|medium|                 Y|
|      LP001011|  Male|    Yes|         2|    Graduate|          Yes|             1|        Urban|medium|                 Y|
|      LP001013|  Male|    Yes|         0|Not Graduate|           No|             1|        Urban|   low|                 Y|
|      LP001014|  Male|    Yes|        3+|    Graduate|           No|             0|    Semiurban|   low|                 N|
|      LP001018|  Male|    Yes|         2|    Graduate|           No|             1|        Urban|medium|                 Y|
|      LP001020|  Male|    Yes|         1|    Graduate|           No|             1|    Semiurban|  high|                 N|
|      LP001024|  Male|    Yes|         2|    Graduate|           No|             1|        Urban|   low|                 Y|
|      LP001028|  Male|    Yes|         2|    Graduate|           No|             1|        Urban|   low|                 Y|
|      LP001029|  Male|     No|         0|    Graduate|           No|             1|        Rural|   low|                 N|
|      LP001030|  Male|    Yes|         2|    Graduate|           No|             1|        Urban|   low|                 Y|
|      LP001032|  Male|     No|         0|    Graduate|           No|             1|        Urban|medium|                 Y|
|      LP001036|Female|     No|         0|    Graduate|           No|             0|        Urban|   low|                 N|
|      LP001038|  Male|    Yes|         0|Not Graduate|           No|             1|        Rural|medium|                 N|
|      LP001043|  Male|    Yes|         0|Not Graduate|           No|             0|        Urban|medium|                 N|
|      LP001046|  Male|    Yes|         1|    Graduate|           No|             1|        Urban|medium|                 Y|
|      LP001047|  Male|    Yes|         0|Not Graduate|           No|             0|    Semiurban|   low|                 N|
+--------------+------+-------+----------+------------+-------------+--------------+-------------+------+------------------+
only showing top 20 rows

In [ ]:
jdbc_url = "jdbc:mysql://localhost:3306/creditcard_capstone"
table_name = 'CDW-SAPP_loan_application'
properties = {'user': 'root', 'password': 'password'}

sploanDF.write.jdbc(url=jdbc_url, table=table_name, mode='append', properties=properties)

In [15]:
sploanDF.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
  .option("dbtable", "CDW_SAPP_loan_application") \
  .option("user", "root") \
  .option("password", "password") \
  .save()