In [5]:
import pyspark as py
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyinputplus as pyip
# import pymysql

# Creating Spark Session
sp = SparkSession.builder.appName("Customer").getOrCreate()

df_sp_br = sp.read.format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone")  \
    .option("dbtable", "cdw_sapp_branch") \
    .option("user", "root") \
    .option("password", "password") \
    .load()

In [6]:
pd_branch=df_sp_br.toPandas()
list_state=list(pd_branch['BRANCH_STATE'].drop_duplicates())
list_state

c:\Users\ngupt\OneDrive\Desktop\perschoolas\CapstoneETL\capenv\lib\site-packages\pyspark\sql\pandas\conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

['MN',
 'IL',
 'NY',
 'FL',
 'PA',
 'NJ',
 'CT',
 'OH',
 'MI',
 'KY',
 'MD',
 'WA',
 'CA',
 'TX',
 'NC',
 'VA',
 'GA',
 'MT',
 'AR',
 'MS',
 'WI',
 'IN',
 'SC',
 'MA',
 'IA',
 'AL']

In [10]:
# 2.3 Used to display the number and total values of transactions for branches in a given state.
def show_tranbybranch(df_sp_cc_br,state):
    print("State:",state)
    data=df_sp_cc_br.select('branch_code','transaction_value')\
            .where(df_sp_cc_br['BRANCH_STATE'] == \
                state).groupby('BRANCH_CODE').\
                agg(sum('transaction_value').alias('TOTAL'), count('branch_code'))
    data.show()


while True:
    query2= "(SELECT br.branch_code , br.branch_state,cc.transaction_value \
        FROM cdw_sapp_credit_card as cc \
        JOIN cdw_sapp_branch as br ON cc.BRANCH_CODE = br.BRANCH_CODE) as b"

    df_sp_cc_br = sp.read.format("jdbc") \
        .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
        .option("dbtable", query2) \
        .option("user", "root") \
        .option("password", "password") \
        .load()
    
    state=pyip.inputStr("enter state(0 to exit):")
    if state.upper() in list_state:
        show_tranbybranch(df_sp_cc_br,state)
    elif state=='0':
        break
    else:
        print("enter a valid state")
        continue
    


    #show_tranbybranch(df_sp_cc_br, state)

enter state(0 to exit):+-----------+------------------+------------------+
|BRANCH_CODE|             TOTAL|count(branch_code)|
+-----------+------------------+------------------+
|        124| 18644.88999999997|               372|
|          1|18157.570000000018|               374|
|         20|19350.830000000005|               381|
+-----------+------------------+------------------+

enter state(0 to exit):+-----------+------------------+------------------+
|BRANCH_CODE|             TOTAL|count(branch_code)|
+-----------+------------------+------------------+
|        124| 18644.88999999997|               372|
|          1|18157.570000000018|               374|
|         20|19350.830000000005|               381|
+-----------+------------------+------------------+

enter state(0 to exit):